<% include header %>
            <aside class="main-sidebar sidebar-dark-primary elevation-4">
                <a href="index3.html" class="brand-link">
                    <img src="/img/icon-bg.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8" />
                    <span class="brand-text font-weight-light">Wszech.pl</span>
                </a>

                <div class="sidebar">
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                            <img src="https://www.gravatar.com/avatar/<%- avatarHash %>?s=215" class="img-circle elevation-2" alt="nick" />
                        </div>
                        <div class="info">
                            <a href="#" class="d-block"><%- nick %></a>
                        </div>
                    </div>

                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <% for (let el in side) { %>
                                <li class="nav-item">
                                    <a href="<%= side[el]['href'] %>" class="nav-link <%= side[el]['active'] ? 'active' : '' %>">
                                        <i class="nav-icon <%= side[el]['icon'] %>"></i>
                                        <p>
                                            <%= side[el]['name'] %>
                                            <!--<span class="right badge badge-danger">New</span>-->
                                        </p>
                                    </a>
                                </li>
                            <% } %>
                        </ul>
                    </nav>
                </div>
            </aside>

            <div class="content-wrapper">
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0 text-dark"><%- page %></h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="overview">Panel</a></li>
                                    <li class="breadcrumb-item active"><%- page %></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include(`user/${view}`) %>
            </div>

<% include footer %>